In [1]:
using DataFrames

In [10]:
df1=DataFrame(a=1:3, b=["A", "B", "C"])

3×2 DataFrame
 Row │ a      b
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B
   3 │     3  C

In [7]:
df1.a

3-element Vector{Int64}:
 1
 2
 3